              <!-- About section -->
              <section class="p-3" id="About">
                <div class="container">
                  <div class="row u-border p-3">
                    <header class="col-12 d-flex justify-content-between">
                      <h3>About</h3>
                      <a href="#" data-toggle="modal" data-target="#FullModal">
                        <i class="fas fa-pencil-alt profile-icon"></i></a>
                    </header>
                    <div class="col-12 pt-3">
                      <p>
                        Talented, Skilled, Passionate, and even Young Hardcore Developer
                      </p>
                    </div>
                  </div>
                </div>
              </section>
            