<div class="container u-border mt-3 mb-3">
  <div class="experience-section position-relative py-3">
    <h2 class="mb-2 h2">Experience</h2>
    <div
      class="icon-container add-container position-absolute"
      (click)="inExperienceAdd()"
    >
      <i class="fas fa-plus add-icon"></i>
    </div>

    <ng-container *ngFor="let experience of experiences; let i = index">
      <app-experience-item
        [experience]="experience.payload.doc.data()"
        [experienceId]="experience.payload.doc.id"
        (inEditMode)="inExperienceEdit()"
      ></app-experience-item>
      <div
        *ngIf="i < experiences.length - 1"
        class="u-border-bottom offset-1"
      ></div>
    </ng-container>

    <div class="u-border-bottom u-border-bottom-final mt-3"></div>
  </div>

  <div class="education-section position-relative py-3">
    <h2 class="mb-2 h2">Education</h2>
    <div
      class="icon-container add-container position-absolute"
      (click)="inEducationAdd()"
    >
      <i class="fas fa-plus add-icon"></i>
    </div>

    <ng-container *ngFor="let education of educations; let i = index">
      <!-- {{user}} -->
      <app-education-item
        [education]="education.payload.doc.data()"
        [educationId]="education.payload.doc.id"
        (inEditMode)="inEducationEdit()"
      ></app-education-item>
      <div
        *ngIf="i < educations.length - 1"
        class="u-border-bottom offset-1"
      ></div>
    </ng-container>

    <div class="u-border-bottom u-border-bottom-final mt-3"></div>
  </div>

  <div class="volunteer-section position-relative py-3">
    <h2 class="mb-2 h2">Volunteer Experience</h2>
    <div
      class="icon-container add-container position-absolute"
      (click)="inVolunteerAdd()"
    >
      <i class="fas fa-plus add-icon"></i>
    </div>

    <ng-container *ngFor="let volunteerExp of volunteerExps; let i = index">
      <app-volunteer-item
        [volunteerExp]="volunteerExp.payload.doc.data()"
        [volunteerExpId]="volunteerExp.payload.doc.id"
        (inEditMode)="inVolunteerEdit()"
      ></app-volunteer-item>
      <div
        *ngIf="i < volunteerExps.length - 1"
        class="u-border-bottom offset-1"
      ></div>
    </ng-container>
    
  </div>
</div>

<app-experience-form-modal
  *ngIf="isExperienceModalOpen"
  (modalClosing)="toggleExperienceModal()"
  [inEditMode]="inEditModeExperience"
></app-experience-form-modal>

<app-education-form-modal
  *ngIf="isEducationModalOpen"
  (modalClosing)="toggleEducationModal()"
  [inEditMode]="inEditModeEducation"
></app-education-form-modal>

<app-volunteer-form-modal
  *ngIf="isVolunteerModalOpen"
  (modalClosing)="toggleVolunteerModal()"
  [inEditMode]="inEditModeVolunteer"
></app-volunteer-form-modal>
