
<div class="container u-border mt-3 mb-3">
  <div class="experience-section position-relative py-3">
    <h2 class="mb-2 h2">Experience</h2>
    <div
      class="icon-container add-container position-absolute"
      (click)="inExperienceAdd()"
    >
      <i class="fas fa-plus add-icon"></i>
    </div>
    <app-experience-item (inEditMode)="inExperienceEdit()"></app-experience-item>
    <div class="u-border-bottom offset-1"></div>
    <app-experience-item (inEditMode)="inExperienceEdit()"></app-experience-item>
    <div class="u-border-bottom u-border-bottom-final mt-3"></div>
  </div>

  <div class="education-section position-relative py-3">
    <h2 class="mb-2 h2">Education</h2>
    <div
      class="icon-container add-container position-absolute"
      (click)="inEducationAdd()"
    >
      <i class="fas fa-plus add-icon"></i>
    </div>
    <app-education-item (inEditMode)="inEducationEdit()"></app-education-item>
    <div class="u-border-bottom offset-1"></div>
    <app-education-item (inEditMode)="inEducationEdit()"></app-education-item>
    <div class="u-border-bottom u-border-bottom-final mt-3"></div>
  </div>

  <div class="volunteer-section position-relative py-3">
    <h2 class="mb-2 h2">Volunteer Experience</h2>
    <div
      class="icon-container add-container position-absolute"
      (click)="inVolunteerAdd()"
    >
      <i class="fas fa-plus add-icon"></i>
    </div>
    <app-volunteer-item (inEditMode)="inVolunteerEdit()"></app-volunteer-item>
    <div class="u-border-bottom offset-1"></div>
    <app-volunteer-item (inEditMode)="inVolunteerEdit()"></app-volunteer-item>
  </div>
</div>



<app-experience-form-modal
  *ngIf="isExperienceModalOpen"
  (modalClosing)="toggleExperienceModal()"
  [inEditMode]="inEditModeExperience"
></app-experience-form-modal>

<app-education-form-modal
  *ngIf="isEducationModalOpen"
  (modalClosing)="toggleEducationModal()"
  [inEditMode]="inEditModeEducation"
></app-education-form-modal>

<app-volunteer-form-modal
  *ngIf="isVolunteerModalOpen"
  (modalClosing)="toggleVolunteerModal()"
  [inEditMode]="inEditModeVolunteer"
></app-volunteer-form-modal>