<div class="header">
  <div class="header__logo">
    <img
      src="./assets/imgs/home/logo.jpg"
      class="logo__img img-fluid"
      alt="Responsive image"
    />
  </div>

  <div class="col-3 row nav__btns">
    <div class="col">
      <button class="nav__btn--join btn" type="button" routerLink="/sign-up">
        Join now
      </button>
    </div>
    <a
      class="col nav__btn--sign btn btn-outline-primary"
      type="button"
      routerLink="/log-in"
    >
      Sign in
    </a>
  </div>
</div>

<div class="section__home">
  <div class="section__tabs">
    <h1 class="tabs__title ">Welcome to your professional community</h1>

    <div class="tabs__content">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="job-tab"
            data-toggle="tab"
            href="#job"
            role="tab"
            aria-controls="job"
            aria-selected="true"
            >Job</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="people-tab"
            data-toggle="tab"
            href="#people"
            role="tab"
            aria-controls="people"
            aria-selected="false"
            >People</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="job"
          role="tabpanel"
          aria-labelledby="jobs-tab"
        >
          <br />
          <div class="search">
            <span class="fa fa-search"></span>
            <input
              type="search"
              placeholder="Search job titles or companies"
              id=""
              class="search__jobs"
            />
          </div>
          <br />
          <div class="search">
            <span class="fas fa-map-marker-alt"></span>
            <input
              type="search"
              placeholder="Location"
              id=""
              class="search__location"
            />
          </div>
          <button type="button" class=" btn btn--rounded-primary ">
            Search Jobs
          </button>
        </div>
        <div
          class="tab-pane fade "
          id="people"
          role="tabpanel"
          aria-labelledby="people-tab"
        >
          <br />
          <div class="search">
            <input
              type="search"
              placeholder="Firstname"
              id=""
              class="search__firstname"
            />
          </div>
          <br />
          <div class="search">
            <input
              type="search"
              placeholder="Lastname"
              id=""
              class="search__lastname"
            />
          </div>
          <button type="button" class=" btn btn--rounded-primary ">
            Search People
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="section__img">
    <img
      src="./assets/imgs/home/sec1.svg"
      class="img-fluid img__content"
      alt="Responsive image"
    />
  </div>
</div>

<div class="internship">
  <div class="container">
    <div class="row">
      <div class="internship__content col">
        <h1 class="content__header">
          Find the right job or internship for you
        </h1>
      </div>
      <div class="internship__search col">
        <h3 div="search__header">SUGGESTED SEARCHES</h3>
        <button type="button" class=" btn btn--rounded-gray">
          Development
        </button>
        <button type="button" class=" btn btn--rounded-gray">
          Engineering
        </button>
        <button type="button" class=" btn btn--rounded-gray">Finance</button
        ><br /><br />

        <button type="button" class=" btn btn--rounded-gray">Finance</button>
        <button type="button" class=" btn btn--rounded-gray">
          Human Resources
        </button>
        <button type="button" class=" btn btn--rounded-gray">Marketing</button
        ><br /><br />
        <button type="button" class=" btn btn--rounded-gray">
          Information Technology
        </button>
        <br />
        <br />
      </div>
    </div>
  </div>
</div>

<div class="job">
  <div class="container">
    <div class="row">
      <div class="job__content col-lg-6 col-md-12 col-sm-12">
        <h2 class="content__header">
          Post your job for millions of people to see
        </h2>
      </div>
      <div class="job__post  col">
        <button type="button" class=" btn btn--rounded-transparent ">
          Post a Job
        </button>
      </div>
    </div>
  </div>
</div>

<div class="find row">
  <div class="find__people col">
    <img
      class="people__img"
      alt="Connect with people who can help"
      src="./assets/imgs/home/connect.svg"
    />
    <h2 class="people__header">
      Connect with people who can help
    </h2>
    <button type="button" class=" btn btn--rounded-primary ">
      Find people you know
    </button>
  </div>
  <div class="find__people col">
    <img
      class="people__img"
      alt="Connect with people who can help"
      src="./assets/imgs/home/learn.svg"
    />
    <h2 class="people__header">
      Learn the skills you need to succeed
    </h2>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-transparent dropdown-toggle"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Choose a topic to learn about
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Training and Education</a>
        <a class="dropdown-item" href="#">IT Help Desk</a>
        <a class="dropdown-item" href="#">Business Analysis and Strategy</a>
        <a class="dropdown-item" href="#">Finance and Accounting</a>
        <a class="dropdown-item" href="#">Career Development</a>
      </div>
    </div>
  </div>
</div>

<div class="row section__discover">
  <div class="col-lg-6 col-md-12 col-sm-12 section__bg">
    <div class="discovery__content">
      <h2 class="content__header">Who is LinkedIn for?</h2>
      <h3 class="content__subtitle">
        Anyone looking to navigate their professional life
      </h3>
      <ul class="content__list">
        <li class="list__item">
          <a
            class="list__button"
            data-tracking-control-name="homepage-basic_brand-discovery"
            data-tracking-will-navigate=""
            href=""
          >
            Find a coworker or classmate
            <i
              aria-hidden="true"
              id="chevron-right-icon"
              class="button__arrow"
              type="chevron-right-icon"
            ></i>
          </a>
        </li>

        <li class="list__item">
          <a
            class="list__button"
            data-tracking-control-name="homepage-basic_brand-discovery"
            data-tracking-will-navigate=""
            href=""
          >
            Find a new job
            <i
              aria-hidden="true"
              id="chevron-right-icon"
              class="button__arrow"
              type="chevron-right-icon"
            ></i>
          </a>
        </li>

        <li class="list__item">
          <a
            class="list__button"
            target="_blank"
            rel="noopener"
            data-tracking-control-name="homepage-basic_brand-discovery"
            data-tracking-will-navigate=""
            href=""
          >
            Find a course or training
            <i
              aria-hidden="true"
              id="chevron-right-icon"
              class="button__arrow"
              type="chevron-right-icon"
            ></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-lg-6 col-md-0 d-lg-block d-md-none section__img">
    <img
      class="discovery__img img-fluid"
      aria-hidden="true"
      alt="Who is LinkedIn for?"
      src="./assets/imgs/home/whoislinkedinfor.jfif"
      alt="Responsive image"
    />
  </div>
</div>

<div class="row section__marketing">
  <div class="col-8 section__bg"></div>

  <div class="row section__marketing">
    <div class="col-6 marketing__media">
      <iframe
        class="marketing__iframe"
        title="Whatever You're In It For, We're #InItTogether"
        allowfullscreen=""
        src="https://www.youtube.com/embed/husM7ItmbFU?rel=0"
      ></iframe>
    </div>
    <div class="col-6 marketing__copy">
      <h2 class="marketing__header">
        Find your community
      </h2>
      <h3 class="marketing__subtitle">
        No matter your profession, we're in it together
      </h3>
    </div>
  </div>
</div>

<div class="section__join">
  <div class="section__title">
    <h2 class="title__content">
      Join your colleagues, classmates, and friends on LinkedIn.
    </h2>
    <a href="" class="title__btn  btn btn--rounded-primary">Get started</a>
  </div>
</div>

<app-footer></app-footer>
<app-copyright></app-copyright>
