<section id="Accomplishments">
  <div class="container section accomplishments u-border">
    <div class="row">
      <div class="col-md-12">
        <h2>Accomplishments</h2>
        <div
          class="btn btn--inline float-md-right btn--plus mr-4"
          data-toggle="tooltip"
          data-placement="bottom"
        >
          <i
            class="fas fa-plus accomplishment__icons"
            (click)="onAddAccom()"
          ></i>
        </div>

        <div
          *ngFor="let project of projects; let i = index"
          class="accomplishment"
          [ngClass]="{ 'edit-accomp': editAccom[i] }"
        >
          <div class="accomplishment__section accomplishment__section1">
            <p class="accomplishment__number">1</p>
          </div>
          <div class="accomplishment__section accomplishment__section2 mr-3">
            <h4 class="accomplishment__type">
              {{ project.name }}
            </h4>
            <p
              class="accomplishment__description"
              [ngClass]="{ 'bold-txt': editAccom[i] }"
            >
              {{ project.description }}
            </p>
          </div>

          <div
            class="accomplishment__section accomplishment__section3 float-md-right"
          >
            <a
              *ngIf="notEditAccom[i]"
              (click)="currentEditing = i; onEditAccom()"
              class="btn btn--arrow  btn--active accomplishment__icons"
              id="btn-1"
              ><i class="fas fa-chevron-down"></i
            ></a>
            <a
              *ngIf="editAccom[i]"
              (click)="cancelEditAccom()"
              class="btn btn--arrow btn--active accomplishment__icons"
              id="btn-2"
            >
              <i class="fas fa-chevron-up"></i
            ></a>
            <a
              *ngIf="editAccom[i]"
              class="btn btn--edit btn--inline float-md-right"
              data-toggle="modal"
              data-target=".edit-skills"
              (click)="currentlyEditingProj(project)"
              ><i class="fas fa-edit"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-project-form-modal
    *ngIf="addAccom"
    (modalClosing)="addAccom = false"
    (formSubmitted)="handelFormSubmission($event)"
    (deletedProj)="handelDeleteProj($event)"
    [project]="currentEditingProj"
  ></app-project-form-modal>
</section>
