<div class="row pt-3 experience-item-container position-relative">
  <div class="company-logo col-1">
    <img class="img-fluid" src="assets/imgs/itiLogo.png" />
  </div>
  <div class="experience-data col-11 pb-4">
    <h3 class="mb-1 h3">{{ education.school | titlecase }}</h3>
    <p class="mb-0 text-sm">
      {{ education.degree | titlecase }} .
      {{ education.fieldOfStudy | titlecase }}
    </p>
    <p class="mb-3 text-muted text-sm">
      {{ education.startYear }} - {{ education.endYear }}
    </p>
    <p class="mb-0 text-sm">
      {{education.description}}
    </p>
  </div>

  <div class="icon-container position-absolute" (click)="switchToEdit()">
    <i class="fas fa-pen edit-icon"></i>
  </div>
</div>
