<section id="Skills">
  <div class="container section skills u-border">
    <div class="row " [ngClass]="{ skillSec: showM }">
      <div class="col-md-12">
        <h2>Skills &Endorsements</h2>
        <a
          *ngIf="currentOpenUser"
          (click)="onEditSkill()"
          class="btn btn--edit btn--inline float-md-right"
          data-toggle="modal"
          data-target=".edit-skills"
          ><i class="fas fa-edit"></i
        ></a>
        <a
          *ngIf="currentOpenUser"
          (click)="onAddSkill()"
          class="btn btn--add btn--inline float-md-right"
          data-toggle="modal"
          data-target="#SkillsModal"
          >Add a New Skill</a
        >
        <div *ngFor="let skill of skills; let i = index" class="skill">
          <div class="skillEndor">
            <div class="endorsment" *ngIf="!currentOpenUser">
              <i
                (click)="currentEditingEndo = i; onAddEndors(skill)"
                *ngIf="
                  !endorsedBy[i]?.endors?.includes(currentUser) &&
                  removeEndorsment[i]
                "
                class="fa fa-plus endorsment__icon"
              ></i>
              <i
                *ngIf="
                  endorsedBy[i]?.endors?.includes(currentUser) ||
                  addEndorsment[i]
                "
                (click)="currentEditingEndo = i; onRemoveEndors(skill)"
                class="fa fa-check endorsment__icon"
              ></i>
            </div>
            <div class="skill__title">
              <h4 class="skill__name">{{ skill.name }}</h4>
              <span
                *ngIf="endorsedBy[i]?.endors?.length > 0"
                class="skill__no-of-endorsments"
              >
                &nbsp;.{{ endorsedBy[i]?.endors?.length }}</span
              >
            </div>
          </div>
          <div
            *ngIf="endorsedBy[i]?.endors?.length > 0"
            class="skill__description"
          >
            <p class="skill__endorsed-person">
              {{ userNames[i] }}
            </p>
            <p class="skill__endorsment-description">
              &nbsp; has given an endorsement for this skill
              <span *ngIf="endorsedBy[i]?.endors?.length - 1 > 0">
                and {{ endorsedBy[i]?.endors?.length - 1 }} others
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <a *ngIf="showM" (click)="showMore()" class="btn btn--show btn--active"
        >Show more <i class="fas fa-chevron-down"></i
      ></a>
      <a *ngIf="showL" (click)="showLess()" class="btn btn--show btn--active"
        >Show less <i class="fas fa-chevron-up"></i
      ></a>
    </div>
  </div>

  <!-- Add Skills -->

  <div
    *ngIf="addSkill"
    id="SkillsModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="SkillsModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content row">
        <div class="modal-header">
          <h5 class="modal-title" id="SkillsModalLabel">
            Add Skills
          </h5>
          <button
            (click)="onCloseAddSkill()"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
            <div class="form-controls">
              <div class="taged-textbox form-group">
                <input
                  #skill
                  class="taged-textbox__textbox form-control"
                  type="text"
                  placeholder="Skill (ex: Data Analysis)"
                  (input)="(0)"
                />
                <p *ngIf="skillAlreadeyExist">
                  Seems that this skill already exists
                </p>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onAddNewSkill(skill.value)"
            [disabled]="skill.value === ''"
          >
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Skills -->
  <div
    *ngIf="editSkills"
    class="edit-skills"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myLargeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-titl">
            Reorder Skills & Endorsements ({{ skills.length }})
          </h2>

          <button
            (click)="onCloseEditSkill()"
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="skill-title">Top Skills</h3>
          <div class="row skillEdit">
            <div class="col-md-12">
              <div *ngFor="let skill of skills" class="skill-edit">
                <span class="skill-edit__skill">{{ skill.name }}</span>
                <i
                  class="fas fa-align-justify float-md-right mr-3 skill-edit__icon"
                ></i>
                <i
                  (click)="onDeleteSkill(skill)"
                  class="fas fa-trash-alt float-md-right mr-3 skill-edit__icon"
                ></i>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              (click)="onDeleteSkillDb()"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
