<div class="row">
<div class="col-lg-3 col-sm-12 col-md-10">
<!-- profile section -->
<app-profile-section></app-profile-section>
</div>
<div class="col-lg-5 col-md-8 col-sm-8">
    <app-add-post></app-add-post>
    <app-post></app-post>
</div>
<div class="col-lg-3 col-sm-12 col-md-10">
<!-- connection section -->
<div class="connect-suggestions-list pt-2">
    <app-connect-list></app-connect-list>
    <app-connect-list></app-connect-list>
    <app-connect-list></app-connect-list> 
</div>

</div>
</div>
