<app-nav-main></app-nav-main>

<div class="row mt-5">
  <!-- profile section -->
  <div class="col-lg-3 col-sm-12 col-md-10">
    <app-profile-section></app-profile-section>
  </div>
  <!-- posts section -->
  <div class="col-lg-5 col-md-8 col-sm-8">
    <app-add-post></app-add-post>
    <app-post *ngFor="let item of items | async" [post]="item"></app-post>
  </div>
  <!-- connection section -->
  <div class="col-lg-3 col-sm-12 col-md-10">
    <div class="connect-suggestions-list pt-2">
      <app-connect-list></app-connect-list>
      <app-connect-list></app-connect-list>
      <app-connect-list></app-connect-list>
    </div>
  </div>
</div>
