<hr />
<!--Copyright-->

<!-- Grid row -->
<div class="d-flex flex-wrap justify-content-center align-items-center">
  <!-- Grid column -->
  <div class="ml-3">
    <img
      class="footer-end__logo"
      src="assets/img/linkedin-black-logo.png"
      width="70px"
    />
    <span class="text-center text-md-left">© 2020 </span>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="ml-3">
    <a href="">About</a>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="ml-3">
    <a href="">User Agreement</a>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="ml-3">
    <a href="">Privacy policy</a>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="ml-3">
    <a href="">Cookie Policy</a>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="ml-3">
    <a href="">Copyright Policy</a>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="ml-3">
    <a href="">Brand Policy</a>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="ml-3">
    <a href="">Guest Controls</a>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <div class="ml-3">
    <a href="">Community Guidelines</a>
  </div>
  <!-- Grid column -->
  <!-- Grid column -->
  <app-dropdown>
    <ng-container class="header">
      Languages
    </ng-container>

    <ng-container class="body">
      <button class="dropdown-item" type="button">Action</button>
      <button class="dropdown-item" type="button">Another action</button>
      <button class="dropdown-item" type="button">Something else here</button>
    </ng-container>
  </app-dropdown>

  <!-- Grid column -->
</div>
<!-- Grid row -->
<!-- Copyright -->
