<app-signup></app-signup>

<!-- <app-interests></app-interests> -->

<!-- <app-skills></app-skills> -->

<!-- <app-accomplishments></app-accomplishments> -->

<!-- Experience Modal -->
<!-- <app-experience-form-modal></app-experience-form-modal> -->

<!-- Education Modal -->
<!-- <app-education-form-modal></app-education-form-modal> -->

<!-- Vlounteer Modal -->
<!-- <app-volunteer-form-modal></app-volunteer-form-modal> -->

<!-- Project Modal -->
<!-- <app-project-form-modal></app-project-form-modal> -->

<!-- About Modal -->
<!-- <app-about-form-modal></app-about-form-modal> -->

<!-- <app-home></app-home> -->
