<div class="nav-main">
  <div class="container nav-main-container">
    <div class="nav-left">
      <img src="assets/linkedin-logo.ico" />

      <form class="nav-form">
        <div class="search-control">
          <div class="search">
            <i class="fas fa-search mx-2" aria-hidden="true"></i>
            <input
              #inputsearch
              type="text"
              placeholder="Search"
              (keyup)="filterProducts(inputsearch.value)"
            />
          </div>
        </div>
      </form>
    </div>

    <ul class="list-unstyled mb-0 p-1 nav-right">
      <li>
        <a class="nav-item" routerLink="/news-feed">
          <i class="fas fa-home nav-item-icon"></i>
          <span class="nav-item-desc">Home</span>
        </a>
      </li>
      <li>
        <a class="nav-item">
          <i class="fas fa-users nav-item-icon"></i>
          <span class="nav-item-desc">My Network</span>
        </a>
      </li>
      <li>
        <a class="nav-item">
          <i class="fas fa-briefcase nav-item-icon"></i>
          <span class="nav-item-desc">Jobs</span>
        </a>
      </li>
      <li>
        <a class="nav-item">
          <i class="fas fa-envelope-open nav-item-icon"></i>
          <span class="nav-item-desc">Messaging</span>
        </a>
      </li>
      <li>
        <a class="nav-item">
          <i class="fas fa-bell nav-item-icon"></i>
          <span class="nav-item-desc">Notifications</span>
        </a>
      </li>
      <li>
        <a class="nav-item" routerLink="/profile">
          <i class="fas fa-bell nav-item-icon"></i>
          <span class="nav-item-desc">
            Me <i class="fas fa-caret-down nav-item-icon"></i>
          </span>
        </a>
      </li>
      <li>
        <div class="bl"></div>
      </li>
      <li>
        <a class="nav-item nav-item-work">
          <i class="fas fa-th nav-item-icon"></i>
          <span class="nav-item-desc">
            Work <i class="fas fa-caret-down nav-item-icon"></i>
          </span>
        </a>
      </li>
      <li>
        <a class="nav-item-premium">
          <span class="nav-item-premium-desc">
            Try Premium Free for 1 Month
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let item of searchFields; let i = index">
          <a class="nav-link" (click)="searchByField(i)">{{ item }}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- <a class="nav-item">
  <i class="fas fa-home nav-item-icon"></i>
  <span class="nav-item-desc">Home</span>
</a>

<a class="nav-item">
  <i class="fas fa-users nav-item-icon"></i>
  <span class="nav-item-desc">My Network</span>
</a>

<a class="nav-item">
  <i class="fas fa-briefcase nav-item-icon"></i>
  <span class="nav-item-desc">Jobs</span>
</a>

<a class="nav-item">
  <i class="fas fa-envelope-open nav-item-icon"></i>
  <span class="nav-item-desc">Messaging</span>
</a>

<a class="nav-item">
  <i class="fas fa-bell nav-item-icon"></i>
  <span class="nav-item-desc">Notifications</span>
</a>

<a class="nav-item">
  <i class="fas fa-bell nav-item-icon"></i>
  <span class="nav-item-desc">
    Me <i class="fas fa-caret-down nav-item-icon"></i>
  </span>
</a>

<a class="nav-item nav-item-work">
  <i class="fas fa-th nav-item-icon"></i>
  <span class="nav-item-desc">
    Work <i class="fas fa-caret-down nav-item-icon"></i>
  </span>
</a>

<a class="nav-item-premium">
  <span class="nav-item-premium-desc">
    Try Premium Free for 1 Month
  </span>
</a> -->
