<div>
  <div class="posts mt-5">
    <div class="card post shadow">
      <div class="card-header post-header">
        <img class="post-profile-img" src="../../../../assets/linkedin.jpeg" />
        <div class="post-header-creator-info mt-2">
          <i
            *ngIf="currentUser === post.authorId"
            class="far fa-trash-alt icon"
            (click)="deletePost(post.authorId, post.id)"
          ></i>
          <h6
            [routerLink]="['/profile/', post.authorId]"
            style="cursor: pointer;"
          >
            {{ user?.name }}
          </h6>
          <small class="text-muted">{{ user?.jobTitle }}</small>
          <small class="text-muted">Last updated at {{ post.date }}</small>
        </div>
      </div>
      <div class="card-body post-body ">
        <p class="card-text pl-4">
          {{ post.caption }}
        </p>
      </div>

      <div class="post-status">
        <p class="card-text">
          <small class="text-muted">
            <small
              class="text-muted"
              data-toggle="modal"
              data-target=".bd-example-modal-sm"
              ><i class="far fa-thumbs-up"></i>
              &nbsp;
              <small class="text-muted"
                >{{ post?.userLikes?.length }} likes</small
              >
              &nbsp;
              <i class="far fa-comments"></i>&nbsp;
            </small>
            <small class="text-muted"
              >{{ post?.comments?.length }} Comment</small
            >
          </small>
        </p>
      </div>

      <div class="post-footer card-footer ">
        <div class="post-footer-action mb-6 ">
          <div class="post-footer-like">
            <button
              class="btn mr-3 btn-md "
              [className]="
                post.userLikes.includes(currentUser)
                  ? 'btn-primary'
                  : 'btn-light'
              "
              data-animation="true"
              data-html="true"
              data-placement="top"
              data-toggle="popover"
              data-trigger="hover focus"
              (click)="handleLike()"
            >
              <i class="far fa-thumbs-up container__Sign reaction-sign"></i>
              Like
            </button>
          </div>

          <div>
            <button class="btn btn-light btn-md" (click)="writeComment()">
              <i class="far fa-comment-dots container__Sign comment-sign"></i>
              Comment
            </button>
          </div>
        </div>

        <div class="col-md-12 col-lg-12 col-sm-12 mt-4">
          <div class="input-group mt-2 ml-0">
            <img
              class="post-profile-img mr-3"
              src="../../../../assets/linkedin.jpeg"
            />
            <input
              type="text"
              class="validationCustomUsername"
              placeholder="Add new comment..."
              aria-describedby="inputGroupPrepend"
              required
              #commentInput
              (keyup.enter)="checkCommentInput(commentInput.value)"
            />
            <div class="input-group-append">
              <label class="comment-image mt-2 mr-1" for="customFileLang">
                <input
                  type="file"
                  id="customFileLang"
                  lang="es"
                  style="display: none;"
                />
              </label>
              <!-- class="comment-image" -->
            </div>
          </div>
        </div>
        <!-- comment -->
        <app-comments
          [postAuthorId]="post.authorId"
          [postId]="post.id"
          *ngFor="let comment of post.comments"
          [comment]="comment"
        ></app-comments>
      </div>
    </div>
  </div>
</div>
