<div class="row pt-3 experience-item-container position-relative">
  <div class="company-logo col-1">
    <img class="img-fluid" src="assets/imgs/itiLogo.png" />
  </div>
  <div class="experience-data col-11 pb-4">
    <h3 class="mb-1 h3">{{ experience.title | titlecase }}</h3>
    <p class="mb-0 text-sm">{{ experience.company | titlecase }}</p>
    <p class="mb-0 text-muted text-sm">
      {{ experience.startDate.month }} {{ experience.startDate.year }} -
      <ng-container *ngIf="experience.endDate.month">
        {{ experience.endDate.month }} {{ experience.endDate.year }}
      </ng-container>
      <ng-container *ngIf="!experience.endDate.month">Present</ng-container>
    </p>
    <p class="mb-3 text-muted text-sm">{{ experience.location | titlecase }}</p>
    <p class="mb-0 text-sm">
      <!-- {{ experienceId }} -->
      {{ experience.description }}
    </p>
  </div>

  <div
    class="icon-container position-absolute"
    (click)="switchToEdit()"
    *ngIf="currentOpenUser"
  >
    <i class="fas fa-pen edit-icon"></i>
  </div>
</div>
