<section id="Interests">
  <div class="container interests">
    <h2 class="interests__header">Interests</h2>
    <div class="row interests__container">
      <ng-container *ngFor="let com of interestCompanies.slice(0, 3)">
        <div class="col-2 col-md-1 text-right">
          <a href="#"
            ><img
              [src]="'../../../../assets/imgs/' + com.img"
              class="interests__logo"
              alt="bla"
          /></a>
        </div>
        <div class="col-10 col-md-5 interest-col">
          <a href="#" class="interests__link">
            <h3 class="text-truncate interests__description">
              {{ com.name }}
            </h3>
          </a>
          <a href="#" class="interests__link">
            <p class=" interests__follower-count">
              {{ com.followCounter }} &nbsp; followers
            </p>
          </a>
        </div>
      </ng-container>
      <ng-container *ngFor="let comp of interestCompanies.slice(3, 6)">
        <div class="col-2 col-md-1 text-right">
          <a href="#"
            ><img
              [src]="'../../../../assets/imgs/' + comp.img"
              class="interests__logo"
              alt="bla"
          /></a>
        </div>
        <div class="col-10 col-md-5 interest-col">
          <a href="#" class="interests__link">
            <h3 class="text-truncate interests__description">
              {{ comp.name }}
            </h3>
          </a>
          <a href="#" class="interests__link">
            <p class=" interests__follower-count">
              {{ comp.followCounter }} &nbsp; followers
            </p>
          </a>
        </div>
      </ng-container>
    </div>
    <!-- <div class="row interests__container">
      <div class="col-2 col-md-1 text-right">
        <a href="#"
          ><img
            src="../../../../assets/imgs/logo-3.png"
            class="interests__logo"
            alt="bla"
        /></a>
      </div>
      <div class="col-10 col-md-5">
        <a href="#" class="interests__link">
          <h3 class="text-truncate interests__description">
            Company Name or Description
          </h3>
        </a>
        <a href="#" class="interests__link">
          <p class=" interests__follower-count">
            company follower counter
          </p>
        </a>
      </div>
      <div class="col-2 col-md-1 text-right">
        <a href="#"
          ><img
            src="../../../../assets/imgs/logo-4.jpg"
            class="interests__logo"
            alt="bla"
        /></a>
      </div>
      <div class="col-10 col-md-5">
        <a href="#" class="interests__link">
          <h3 class="text-truncate interests__description">
            Company Name or Description
          </h3>
        </a>
        <a href="#" class="interests__link">
          <p class=" interests__follower-count">
            company follower counter
          </p>
        </a>
      </div>
    </div> -->
    <!-- <div class="row interests__container ">
      <div class="col-2 col-md-1 text-right">
        <a href="#"
          ><img
            src="../../../../assets/imgs/logo-5.jpg"
            class="interests__logo"
            alt="bla"
        /></a>
      </div>
      <div class="col-10 col-md-5">
        <a href="#" class="interests__link">
          <h3 class="text-truncate interests__description">
            Company Name or Description
          </h3>
        </a>
        <a href="#" class="interests__link">
          <p class=" interests__follower-count">
            company follower counter
          </p>
        </a>
      </div>
      <div class="col-2 col-md-1 text-right">
        <a href="#"
          ><img
            src="../../../../assets/imgs/logo-6.jpg"
            class="interests__logo"
            alt="bla"
        /></a>
      </div>
      <div class="col-10 col-md-5">
        <a href="#" class="interests__link">
          <h3 class="text-truncate interests__description">
            Company Name or Description
          </h3>
        </a>
        <a href="#" class="interests__link">
          <p class=" interests__follower-count">
            company follower counter
          </p>
        </a>
      </div>
    </div> -->
    <!--button to see a linkedin user companies -->
    <div class="interests__see-all-btn" (click)="onAllIntresetsOpen()">
      <a class="row interests__see-all">
        See all
      </a>
    </div>

    <!-- Modal content that contains user's companies -->
  </div>

  <div *ngIf="allIntrestsOpened" id="interests-modal" role="dialog">
    <div class="modal-dialog modal-lg interests-modal">
      <div class="interests-modal__content modal-content">
        <div class="interests-modal__header modal-header">
          <h3 class="interests-modal__title">Companies</h3>
          <button
            type="button"
            class=" close"
            data-dismiss="modal"
            (click)="onAllIntresetsClosed()"
          >
            &times;
          </button>
        </div>
        <div class="interests-modal__body modal-body ">
          <div
            *ngFor="let company of interestCompanies"
            class="row interests-modal__container"
          >
            <div class="col-1">
              <a href="#"
                ><img
                  [src]="'../../../../assets/imgs/' + company.img"
                  class="interests__logo"
                  alt="bla"
              /></a>
            </div>
            <div class="col-7">
              <a href="#" class="interests__link ">
                <h3 class="text-truncate interests__description">
                  {{ company.name }}
                </h3>
              </a>
              <a href="#" class="interests__link">
                <p class=" interests__follower-count">
                  {{ company.followCounter }} &nbsp; followers
                </p>
              </a>
            </div>
            <div class="col-4 text-center">
              <a class="interests__link--modal" href="#">
                <i class="fas fa-check "></i>
                <span>Following</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
