.writePost{
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 5px 0px rgba(209,201,209,1);
}
.button{
    border: none;
    background-color: #fff;
    color: #696c6f;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 600;
    width: 6.6rem;
    height: 7.7rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    &-border{
        border-right: 1px solid rgba(0,0,0,.15);
    }
    &-post{
        display: flex;
        flex-grow: 1;
        height: 120px;
        padding: 1.6rem;
        &:hover{
            color: #0073b1;
            span{
                text-decoration: underline;
            }
        }
    }
    &-icons{
        // padding: 2.4rem;
        &:hover{
            color: rgba(0,0,0,.9);
            background-color: #f3f6f8;
        }
    }
}

.post-icon{
    margin-right: 0.8rem;
    width: 2.4rem;
    height: 2.4rem;
}
.far{
    line-height: 1.4;
}

.article{
    box-shadow: 3px 3px 5px 0px rgba(209,201,209,1);
    background-color: #f3f6f8;
    border: 1px solid rgba(0,0,0,.15);
    border-top: none;
    padding: 12px 16px;
    border-radius: 0 0 2px 2px;
    font-size: 1rem;
    font-weight: 400;
    a{
        color: #0073b1;
        text-decoration: none;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
        }
    }

}

.mypost-label{
    margin-bottom: 0;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mypost{

    &-header{
        background-color: #0073b1;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.6rem 0 2.4rem ;
        height: 70px;

    }
    &-close{
        background-color: #0073b1;
        border-radius: 50%;
        color: white;
        height: 3.5rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 1.2rem;
        margin : 0.4rem 0;
        &:hover{
            background-color: hsla(0,0%,100%,.15);
        }
    }
    &-body{
        &_top{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.6rem 2.4rem;
            span{
                margin-left: 0.8rem;
                font-weight: 800;
            }
        }
        &_middle{
            display: flex;
            flex-direction: column;
            min-height: 10rem;
            max-height: calc(100vh - 36rem);
            padding-left: 2.4rem;

        }
        // &_textContainer{
        //     font-size: 1.8rem;
        //     line-height: 1.33333;
        //     font-weight: 400;
        //     color: rgba(0,0,0,.75);
        //     margin: 12px 24px;
        //     height: 100%;

        // }
        // &_textEditor{
        //     min-height: 70px;
        //     word-wrap: break-word;
        //     cursor: text;
        //     height: 100%;
        // }
        // &_textContent{
        //     font-weight: 400;
        //     color: rgba(0,0,0,.9);
        // }
        // &_textEditor__placeholder{
        //     position: relative;
        //     &::before{
        //         font-size: 1.4rem;
        //         line-height: 1.42857;
        //         font-weight: 400;
        //         color: rgba(0,0,0,0.6);
        //         position: absolute;
        //         left: 0;
        //         top: -7rem;
        //         content: attr(data-placeholder);
        //         pointer-events: none;
        //         z-index: 0;
        //     }
        // }

        &_bottom{
            padding: 12px 24px 4px 16px;
        }
        &_bottomContent{
            align-items: center;
            border: none;
            display: flex;
            span{
                margin-left: 8px;
                font-size: 1.2rem;
                line-height: 1.4;
                color: rgba(0,0,0,0.6);
            }
        }
    }
    &-profilepic{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        // background-image: url('../imgs/portfolio-1.jpg');
        background-size: contain;
        background-position: center;
        width: 4.8rem;
        height: 4.8rem;
        box-sizing: border-box;
        background-clip: content-box;
        border: 2px solid transparent;
    }
    &-hashtag{
        margin-right: 4px;
        padding: 0 8px;
        align-items: center;
        border: none;
        border-radius: 2px;
        box-sizing: border-box;
        cursor: pointer;
        font-weight: 600;
        display: inline-flex;
        justify-content: center;
        max-width: 480px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        // font-size: 1.4rem;
        min-height: 2.4rem;
        line-height: 2rem;
        color: #0073b1;
        background-color: transparent;
        &:hover{
            background-color: rgba(152,216,244,.25);
            color: #006097;
        }
    }

    &-footer{
        padding: 12px 24px 12px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center; 
        &_media{
            display: flex;
            flex: 1;
            align-items: center;
        }
        &_publish{
            &-btn{
                font-size: 1.2rem;
                min-height: 3.2rem;
                line-height: 2rem;
                padding: .6rem 1.2rem;
                border: none;
                align-items: center;
                border-radius: 2px;
                box-sizing: border-box;
                font-weight: 600;
                display: inline-flex;
                justify-content: center;
                max-width: 480px;
                overflow: hidden;
                text-align: center;
            }
        }
        &_publishEnabele{
            background-color: #0073b1;
            color: #fff;
            cursor: pointer;
        }
        &_publishDisable{
            cursor: not-allowed;
            background-color: rgba(0,115,177,.35);
            color: hsla(0,0%,100%,.45);
        }
    }
}

.modal-body{
    padding: 0;
}
.mypost-profilepic{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
textarea{
    border: 0;
}